.written {
    margin-top: 20px;
  }
  mat-card-actions button {
    margin-right: 20px;
  }
  mat-card {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  img {
    float: right;
  }
  .mat-card-title {
    display: block;
    margin-bottom: 5rem;
  }
  .mat-form-field {
    margin-bottom: 5px;
  }